#cover-image {
  width: 400px;
}
#details-container {
  display: flex;
  flex-direction: row;
}
#details {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
#details p,
#details li {
  font-size: 1.5rem;
  font-weight: 300;
}
.details-list {
  list-style: none;
}
#details h2 {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 0.6rem;
}

#details-button-container {
  display: flex;
}
#details-button-container button {
  width: fit-content;
  border-radius: 7px;
}
