header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 2rem;
}
#categories {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
